.fijo {
  position: fixed;
  z-index: 10;

  &.abajo {
    bottom: 20px;
  }

  &.derecha {
    right: 20px;
  }
}

.boton-github {
  background-color: black !important;
  color: white !important;
  border: 1px solid #555 !important;
}

.elemento-funcion,
.elemento-puntuado {
  display: inline-flex;
  flex-wrap: wrap;
}

.formato-anomalo {
  font-weight: bold;
  color: lemonchiffon;
}

.palabra {
  &.todo-mayuscula,
  &.coincidencia {
    font-weight: bold;
    color: lemonchiffon;
  }

  &.parcialmente-mayuscula {
    color: greenyellow;
  }
}

.obj-call {
  color: greenyellow;

  .solo-giones & {
    color: springgreen;
  }
}

.funcion {
  color: greenyellow;
}

.snake-upper-case {
  font-weight: bold;
  color: coral;
}

.numero {
  font-weight: bold;
  color: lemonchiffon;
}

.puntuacion {
  font-weight: bold;
  color: mediumaquamarine;
}

.agrupacion {
  display: inline-flex;
  flex-wrap: wrap;

  .exclamacion {
    font-weight: bold;
    color: deepskyblue;
  }
  .contenido-exclamacion {
    font-weight: bold;
    color: lightsteelblue;
  }

  .comilla {
    color: gold;
  }
  .contenido-texto {
    &,
    .obj-call,
    .parcialmente-mayuscula,
    .funcion,
    .numero,
    .todo-mayuscula,
    .coincidencia {
      font-weight: normal;
      color: orange;
    }
    color: orange;
  }
  .agrupador {
    font-weight: bold;
    color: deepskyblue;
  }
  .contenido-agrupado {
    font-weight: bold;
    color: paleturquoise;

    .obj-call,
    .parcialmente-mayuscula,
    .funcion {
      color: aquamarine;
    }
    .todo-mayuscula,
    .numero,
    .coincidencia {
      font-weight: bold;
      color: skyblue;
    }
  }
}
