a {
  color: inherit;
  text-decoration: none;
}

ul,
ol {
  li {
    margin-bottom: 10px;
    padding-left: 10px;
  }
}

ul.punto-centrico {
  margin: 15px 0;
  &,
  ul {
    list-style-type: "⦿   ";
  }
  li {
    margin-bottom: 15px;
    &::marker {
      color: deepskyblue;
    }
  }
}
