:root {
  --drawer-h: 60px;
  --drawer-open-w: 300px;
  --drawer-close-w: 50px;
}

@media (width >= 600px) and (width < 800px) {
  :root {
    --drawer-open-w: 70%;
    --drawer-close-w: 0px;
    --drawer-h: 56px;
  }
}

@media (width < 600px) {
  :root {
    --drawer-open-w: 100%;
    --drawer-close-w: 0px;
  }
}

body {
  padding-left: var(--drawer-close-w);
  padding-top: var(--drawer-h);
  &.menu-cerrado {
    .contenido-fijo.full-width {
      margin-left: var(--drawer-close-w);
    }
  }
  &.menu-abierto {
    overflow: hidden;
    .contenido-fijo.full-width {
      margin-left: var(--drawer-open-w);
    }
  }
}
