
:root {
  --drawer-open-w: 240px;
  --drawer-close-w: 60px;
}

@media screen and (width < 700px) {
  :root {
    --drawer-open-w: 80%;
    --drawer-close-w: 0px;
  }  
}

@media screen and (width < 500px) {
  :root {
    --drawer-open-w: 100%;
  }  
}

body{
    &.menu-cerrado {
        padding-left: var(--drawer-close-w);
        .contenido-fijo.full-width {
            margin-left: var(--drawer-close-w);
        }
    }
    &.menu-abierto {
        overflow: "hidden";
        padding-left: var(--drawer-open-w);
        .contenido-fijo.full-width {
            margin-left: var(--drawer-open-w);
        }
    }
}
