.esquema-principal {
  .ocultar {
    filter: blur(3px) brightness(0.3);
    & > * {
      pointer-events: none;
    }
  }
  .contenedor-pagina {
    .pagina {
      .seccion,
      .subseccion {
        .prettyprint.solo-texto.mini {
          font-weight: bold;
        }
        & > ol li {
          &::marker {
            font-weight: bolder;
            color: skyblue;
          }
        }
      }

      .seccion {
        border-radius: 20px;

        .subseccion {
          border-radius: 15px;
        }
      }
    }
  }
}

/*---------------------------------*/

.elemento-funcion,
.elemento-puntuado {
  display: inline-flex;
  flex-wrap: wrap;
}

.formato-anomalo {
  font-weight: bold;
  color: lemonchiffon;
}

.palabra {
  &.todo-mayuscula,
  &.coincidencia {
    font-weight: bold;
    color: lemonchiffon;
  }

  &.parcialmente-mayuscula {
    color: greenyellow;
  }
}

.obj-call {
  color: greenyellow;

  .solo-guiones & {
    color: springgreen;
  }

  .solo-multiplicadores & {
    color: magenta;
  }
}

.funcion {
  color: greenyellow;
}

.snake-upper-case {
  font-weight: bold;
  color: coral;
}

.numero {
  font-weight: bold;
  color: lemonchiffon;
}

.puntuacion {
  font-weight: bold;
  color: mediumaquamarine;

  &.times {
    color: darkmagenta;
  }
}

.agrupacion {
  flex-wrap: wrap;

  &,
  * {
    display: inline;
  }

  .negrita,
  .cursiva,
  .tachado,
  .monospace {
    display: none;
  }

  .contenido-negrita {
    font-weight: bolder;
  }

  .contenido-cursiva {
    font-style: italic;
  }

  .contenido-tachado {
    text-decoration: line-through;
  }

  .contenido-monospace {
    font-family: "Courier New", Courier, monospace;
  }

  .todo-blanco {
    &,
    * {
      color: white;
    }
  }

  .exclamacion {
    font-weight: bold;
    color: deepskyblue;
  }
  .contenido-exclamacion {
    font-weight: bold;
    color: lightsteelblue;
  }

  .comilla {
    color: gold;
  }
  .contenido-texto {
    &,
    * {
      font-weight: normal;
      color: orange !important;
    }
  }
  .agrupador {
    font-weight: bold;
    color: deepskyblue;
  }
  .contenido-agrupado {
    font-weight: bold;
    color: paleturquoise;

    .obj-call,
    .parcialmente-mayuscula,
    .funcion {
      color: aquamarine;
    }
    .todo-mayuscula,
    .numero,
    .coincidencia {
      font-weight: bold;
      color: skyblue;
    }
  }
}
