pre {
  &.prettyprint {
    padding: 15px;
    padding-left: 30px;
    display: block;
    background-color: hsla(230, 50%, 10%);
    border: 1px solid hsla(210, 100%, 36%, 0.3);
    border-radius: 20px;

    position: relative;
    margin: 20px 0;

    &.solo-texto {
      margin: 0;
      padding: 0;
      border: none;
      background-color: transparent;

      &.L1,
      &.L3,
      &.L5,
      &.L7,
      &.L9 {
        background-color: transparent;
      }
    }

    white-space: pre-wrap;
    z-index: 0;

    color: white;

    &.link {
      color: hotpink;
    }

    &.mini {
      padding: 10px;
      display: inline-block;

      & li {
        list-style-type: none;
      }
      & ol {
        padding: 0px;
      }
    }
  }

  .nocode {
    background-color: none;
    color: #000;
  }
  .str {
    color: gold;
  } /* string */
  .kwd {
    color: deepskyblue;
    font-weight: bolder;
  }
  .com {
    color: rgba(255, 255, 255, 0.4);
    font-size: 80%;
  } /* comment */
  .typ {
    color: mediumaquamarine;
    font-weight: bolder;
  } /* type */
  .lit {
    color: magenta;
  } /* literal */
  .pun {
    font-weight: bolder;
    color: mediumturquoise;
  } /* punctuation */
  .pln {
    color: #fff;
  } /* plaintext */
  .tag {
    color: #f0e68c;
    font-weight: bold;
  } /* html/xml tag */
  .atn {
    color: #bdb76b;
    font-weight: bold;
  } /* attribute name */
  .atv {
    color: #ffa0a0;
  } /* attribute value */
  .dec {
    color: #98fb98;
  } /* decimal */

  ol.linenums {
    margin-top: 0;
    margin-bottom: 0;
    color: rgba(255, 255, 255, 0.2);
  }

  & li {
    list-style-type: decimal-leading-zero;
    &.L0,
    &.L1,
    &.L2,
    &.L3,
    &.L5,
    &.L6,
    &.L7,
    &.L8 {
      list-style-type: decimal-leading-zero;
    }

    &.L1,
    &.L3,
    &.L5,
    &.L7,
    &.L9 {
      background-color: rgba(255, 255, 255, 0.02);
    }
  }
}
